---
import YouTubeEmbed from './embed/providers/YouTubeEmbed.astro'
import BandcampEmbed from './embed/providers/BandcampEmbed.astro'
import SpotifyEmbed from './embed/providers/SpotifyEmbed.astro'
import AppleMusicEmbed from './embed/providers/AppleMusicEmbed.astro'
import SoundCloudEmbed from './embed/providers/SoundCloudEmbed.astro'
import WebsitePreview from './embed/WebsitePreview.astro'

const { url } = Astro.props as { url: string }

const u = (() => {
  try {
    return new URL(url)
  } catch {
    return null
  }
})()
const host = u?.hostname ?? ''

const isYouTube = u ? /(^|\.)youtube\.com$|(^|\.)youtu\.be$/i.test(host) : false
const isBandcamp = u ? /(^|\.)bandcamp\.com$/i.test(host) : false
const isSpotify = u ? /(^|\.)spotify\.com$/i.test(host) : false
const isApple = u ? /(^|\.)music\.apple\.com$/i.test(host) : false
const isSoundCloud = u ? /(^|\.)soundcloud\.com$|(^|\.)w\.soundcloud\.com$/i.test(host) : false

const isInternal = /^(?:\/(?!\/)|\.\/|\.\.\/|#)/u.test(url)
---

{
  isYouTube ? (
    <YouTubeEmbed url={url} />
  ) : isBandcamp ? (
    <BandcampEmbed url={url} />
  ) : isSpotify ? (
    <SpotifyEmbed url={url} />
  ) : isApple ? (
    <AppleMusicEmbed url={url} />
  ) : isSoundCloud ? (
    <SoundCloudEmbed url={url} />
  ) : isInternal ? (
    <a href={url}>{url}</a>
  ) : (
    <WebsitePreview url={url} />
  )
}
